body
{
}

span {
    color: #0066FF;
    font-family: arial;
    font-size: 20px;
}

.center {
    margin-left: auto;
    list-style-position: inside;
    padding: 10px;
}

.color
{
    background: #e0dada
}

li {
    padding: 4px 8px;
    margin: auto;
}
