@{
    ViewBag.Title = "Home Page";
}

<h1>Random Numbers</h1>

<div class="row">
    <div class="col-lg-6">
        <form>
            <input id="token" name="Gitid" type="text" value="10" min="1" />
            <input id="request" name="request" type="button" value="Request" />

        </form>

    </div>
    <div class="col-lg-6">
        <div id="picture" /> </div>
        <div id="message"></div>
        <div id="num"></div>
        <div id="numbers"></div>
    </div>


<div id="theplot"></div>

@section scripts
{
    <script src="~/Scripts/main.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
}
